body{
    background-color: rgb(181, 197, 194);
    font-style:normal, arial;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.allcolors{
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    height: 7.25rem;
    margin: 30px;

}
#blue{
    background-color: blue;
    width: 10.25rem;
    height: 6rem;
    
}
#green{
    background-color: green;
    width: 10.25rem;
    height: 6rem;
}
#purple{
    background-color: purple;
    width: 10.25rem;
    height: 6rem;
}
#yellow{
    background-color: yellow;
    width: 10.25rem;
    height: 6rem;
}
#pause{
    margin: 10px 10px;
    padding: .9125em;
    font-size: 1em;
    font-weight: 100;
    color: black; 
    background-color: rgb(236, 167, 139);   
    box-shadow: 0 -1px 5px black;
}


.Tipcalculator{
    border: 2px solid green;
    margin: 3.875em;
    width: 35em;
    height: auto;
    padding: 0.3125em;
    background-color: rgb(235, 226, 214);
}

.Tipcalculator h1{
    font-size: 30px;
    text-align: center;
    color: orangered;
}

.total{
    margin: 0.625rem 0;
 }
#total{
 padding: 0.22em;
 border-radius: 10px;background-color: rgb(199, 228, 228);
 font-weight: 500;
 color: red;
    
}
#tipamount{
    padding: 0.22em;
    border-radius: 10px;background-color: rgb(199, 228, 228);
    font-weight: 500;
    color: rgb(38, 0, 255);
}

.footer{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
p{
    margin-bottom: 0.5em;
}
#people_heading, #totalperson{
    color: rgb(57, 97, 143);
    text-transform: capitalize;
}

.btn{
    padding: 0.3125em;
    font-size: 1rem;
    font-weight: 1000;
    color: green; 
    background-color: rgb(236, 167, 139);   
    box-shadow: 0 -1px 5px black;
    transition: .5 ease-in-out;
}
.btn:hover{
    background-color: transparent;
}

#ppl, #tlperson{
    padding: 1em;
    color: rgb(7, 7, 7);
}

.rockpaperscissors{
    box-shadow: 2px 0 0 5px rgb(131, 124, 124);
    background: linear-gradient(90deg, rgba(109,108,138,1) 3%,
    rgba(221, 144, 144, 0.8) 39%,
    rgba(84, 126, 134, 1) 93%);
    width: 25em;
    height: 20rm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border: 2px solid pink;
    cursor: pointer;
}
.rock, .paper, .scissors{
    margin: 0.125em;
    color: white;
    background-color: black;
    font-size: 1.3em;
    padding: 0.325em;
    border: 2px solid rgb(206, 216, 206);
    border-radius: 10px;
    width: 5rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    
}
.btnn{
    color: white;
    background-color: black;
    font-size: 1em;
    border: 2px solid pink;
    border-radius: 10px;
    width: 4rem;
    text-align: center;
    padding: 3px;
    transition: .5s ease-in-out;
}
.btnn:hover{
    animation: spin 1s linear;
    background-color: transparent;
    color: black;
    cursor: pointer;
}
@keyframes spin{
    from {
        transform: rotate(0deg);
     }
    to {
        transform: rotate(2deg);
       }
}
.playerchoice{
     color: blue;
    font-size: 1.5em;
    padding: 0.325em;
    width: 10rem;
    justify-content: space-between;
    text-align: center;
}
.computerchoice{
    color: red;
    font-size: 1.5em;
    padding: 0.325em;
    width: 10rem;
    justify-content: space-between;
    text-align: center;
}

.heroApp{
    font-style: oblique;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 18%, rgba(4,2,53,1) 34%, rgba(9,9,121,1) 45%, rgba(6,83,170,1) 65%, rgba(4,2,55,1) 79%, rgba(0,212,255,1) 100%); 
    display: flex;
    justify-items: space-between;
    width:80%;
    color: white;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 0 5px black;
    padding: 2em;
}
#imgHero{
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 18%, rgba(4,2,53,1) 34%, rgba(9,9,121,1) 45%, rgba(6,83,170,1) 65%, rgba(4,2,55,1) 79%, rgba(0,212,255,1) 100%); 
    display: flex;
    justify-items: space-between;
    width:60%;
    color: white;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 0 5px black;
    padding: 2em;
    flex-wrap: wrap;
}

#imageh{
 
    width: 50%;
    border: 2px solid black;
    margin: 30px;
}
#hename{
    padding: 1em;
    margin-top: 10%;
    color: orange;
}
div > li {
    margin: 30px;

}

div >li::marker{
    content: "*  ";
}

.hbtn{
    margin-top:5px;
    color: orange;
    background-color: rgb(168, 56, 56);
    font-size: 1em;
    border: 2px solid pink;
    border-radius: 10px;
    width: auto;
    text-align: center;
    padding: 3px;
    transition: .5s ease-in-out;
}
#heroName{
    border-radius: 10px;
    padding: 0.245em;
    box-shadow: 0 0 5px red;
}

#stopwatch{
    border: 2px solid black;
    border-radius: 30px;
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(38, 38, 85, 0.2);
   }
   #timer{
    font-size: 50px;
    margin-bottom: 20px;
   }
   #timerbtn{
    padding: 20px;
    text-align: center;

}

   #starttimer, #resettimer, #stopCounter{
        padding: 0.5em;
        border: 2px solid black;
        border-radius: 10px;
        color: white;
        font-size: 1.4em;
        cursor: pointer;

   }
   #starttimer{
        background-color: green;
    }
    #resettimer{
        background-color: red;
    }

    .accordion{
        display: flex;
        width: 60%;
        border: 2px solid black;
        background: white;
        border-radius: 20px;
        box-shadow: 0 0 10px black;
        margin: 10px;
   
    }
    .content-body > h1{
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
    }
    .questions{
        position: relative;
        font-weight: 500;
        font-size: 23px;
        text-transform: capitalize;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        cursor: pointer;
        transition: .5s;
    
    }
    .questions::after{
        content: "+";
        position: absolute;
        right: 0px;
        justify-content: space-between;
        transition: .5s;
    }
    .accordion .content-body{
        padding: 1em;
    }
    .answers{
        height: 0;
        overflow: hidden;
        transition: .5s;
        margin-bottom: 10px;
    }
    .content.active .answers{
        height: auto;
        overflow: visible;
        line-height: 1.5;
    }
    .content.active .questions::after{
        content: "-";
      }
      .content.active .questions{
        font-size: 15px;
      }